<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Cayman theme CSS -->
    <link rel="stylesheet" href="{{ 'https://cdn.jsdelivr.net/gh/pages-themes/cayman@v0.2.0/assets/css/style.css' }}">
    <!-- Custom styles (assets/css/style.css) -->    
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>
      mermaid.initialize({ startOnLoad: true });
    </script>
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

      <nav>
        <!-- Link to Home Page -->
        <a href="{{ '/' | relative_url }}" class="btn">Home</a>
        <a href="{{ '/call4contributions/' | relative_url }}" class="btn">Call for Contributions</a>
        <a href="{{ '/call4sponsorship/' | relative_url }}" class="btn">Call for Sponsorship</a>
        <a href="{{ '/invited/' | relative_url }}" class="btn">Invited Talks</a>
        <a href="{{ '/program/' | relative_url }}" class="btn">Program</a>
        <a href="{{ '/poster/' | relative_url }}" class="btn">Poster</a>
        <!-- New Button for the External Sites -->
        <a href="https://conf.researchr.org/home/fm-2026" class="btn" target="_blank">FM2026</a>
      </nav>

      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
          <br>
          <!-- Add social links -->
          <span class="site-footer-social">
            Follow me on 
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a>
            <a href="https://bsky.app/profile/{{ site.bluesky_username }}.bsky.social" target="_blank">Bluesky</a>
            <a href="https://github.com/{{ site.github_username }}" target="_blank">GitHub</a>

            {% if site.mastodon_username and site.mastodon_instance %}
              <a href="https://{{ site.mastodon_instance }}/@{{ site.mastodon_username }}">Mastodon</a>
            {% endif %}
            {% if site.damus_npub %}
              <a href="https://damus.io/{{ site.damus_npub }}">Damus</a>
            {% endif %}
            {% if site.youtube_channel %}
              <a href="https://www.youtube.com/@{{ site.youtube_channel }}">YouTube</a>
            {% endif %}
            {% if site.bilibili_channel %}
              <a href="https://space.bilibili.com/{{ site.bilibili_channel }}">BiliBili</a>
            {% endif %}
            {% if site.niconico_channel %}
              <a href="https://www.nicovideo.jp/user/{{ site.niconico_channel }}">Niconico</a>
            {% endif %}
        </span>
      </footer>
      <script>
        // Array of image URLs
        const imageUrls = [
          '/assets/images/tokyo/1.jpeg',
          '/assets/images/tokyo/2.jpeg',
          '/assets/images/tokyo/3.jpeg',
          '/assets/images/tokyo/4.jpeg',
          '/assets/images/tokyo/5.jpeg',
          '/assets/images/tokyo/6.jpeg',
          '/assets/images/tokyo/7.jpeg',
          '/assets/images/tokyo/8.jpeg',
          '/assets/images/tokyo/9.jpeg'
        ];
        // Function to get a random image
        function getRandomImage() {
          const randomIndex = Math.floor(Math.random() * imageUrls.length);
          return imageUrls[randomIndex];
        }
        // Function to set the random image
        function setRandomImage() {
          const imageElement = document.getElementById('randomImage');
          if (imageElement) {
            imageElement.src = getRandomImage();
          }
        }
        // Set initial random image when the page loads
        window.onload = setRandomImage;
      </script>
    </main>
  </body>
</html>
